@charset "UTF-8";


.container{display: flex; margin-top: 12rem; color: var(--main-ton-down);margin-bottom: 12rem;}
#container_content{width: 858px;}



/* [S]mypage_container_list */
.mypage_container_list_nav{ margin-right: 5rem; border: 1px solid rgba(var(--main-ton-down-rgb), 0.3); border-radius: 12px; flex: 0 0 282px; height: -moz-fit-content; height: fit-content; overflow: hidden;}
.mypage_container_list {     margin-bottom: 0;}
.mypage_container_list li{ border-bottom: 1px solid rgba(var(--main-ton-down-rgb), 0.3); height: 50px; width: 23rem; line-height: 50px; text-align: justify; padding-left: 10px; font-size: 1.7rem; font-weight: 500; }
.mypage_container_list li:last-of-type{border-bottom: none;}
.mypage_container_list li div:hover{cursor: pointer;}
.mypage_container_list li:hover{background-color: var(--main-ton-up); color: white !important;} 

/* [E]mypage_container_list */


/* [S]mypage_container_info */


.my_info_title { font-size: 2.5rem; font-weight: 700; color: var(--main); margin-bottom: 4rem; margin-top: 1rem;}
.my_info_sub_title { font-size: 2rem; font-weight: 600; color: var(--main); margin-bottom: 2rem;}
#photo { position: relative; margin-bottom: 3rem;}
#photo img { border-radius: 100px; width: 13rem; display: block; margin: auto;}
.btn_modify_photo {position: absolute; width: 4rem; background-color: transparent; border: none; height: 3rem;left: 47rem;top: 10rem;z-index: 1;text-decoration: underline;}


/* glamping-N47 [KAltwpIVGl] */
.glamping-N47 .contents-inner { padding: 8rem 2.4rem; }
.glamping-N47 .contents-top { display: flex; align-items: center; justify-content: space-between; margin-bottom: 2rem; }
.glamping-N47 .contents-tit { font-size: var(--fs-h5); line-height: var(--lh-h5); font-weight: 600; color: rgba(var(--main-ton-down-rgb),1);}
.glamping-N47 .contents-top span { font-size: var(--fs-p2); line-height: var(--lh-p2); color: rgba(var(--main-ton-down-rgb),1);}
.glamping-N47 .contents-group { padding-top: 2.4rem; border-top: 1px solid var(--line-color4); }
.glamping-N47 .form-wrap+.form-wrap { margin-top: 1.6rem; }
.glamping-N47 .form-wrap .form-tit { min-width: 15.3rem; color: rgba(var(--main-ton-down-rgb),1);}
.glamping-N47 .form-wrap .inputset { width: 100%; border-width: 2px !important; }
.glamping-N47 .form-wrap .form-control { border-width: 2px !important; }
.glamping-N47 .contents-form-group { display: flex; gap: 1.2rem; width: 100%; }
.glamping-N47 .selectset { max-width: 25rem; }
.glamping-N47 .contents-mail { display: flex; align-items: center; gap: 0.8rem; width: 100%; margin-right: 1.2rem; }
.glamping-N47 .checkset-wrap { margin-bottom: 2rem; }
.glamping-N47 .checkset-wrap .checkset input:checked+.checkset-thumb { background-color: var(--line-color4); }
.glamping-N47 .contents-address { width: 100%; }
.glamping-N47 .contents-address .contents-form-group { margin-bottom: 1.6rem; }
.glamping-N47 .contents-btn-group { margin-top: 8rem; text-align: center; }
@media (max-width: 1200px) {
    .btn_modify_photo{left: 37rem;}
}
@media (max-width: 992px) {
 .glamping-N47 .contents-inner { padding: 5rem 2.4rem; }
 .glamping-N47 .contents-tit { margin-bottom: 1.6rem; }
 .glamping-N47 .form-wrap { flex-wrap: wrap; gap: 0.8rem; }
 .glamping-N47 .form-wrap+.form-wrap { margin-top: 1rem; }
 .glamping-N47 .contents-form-group { gap: 0.8rem; }
 .glamping-N47 .selectset { max-width: 100%; }
 .glamping-N47 .contents-mail { margin-right: 0; }
 .glamping-N47 .contents-address .contents-form-group { margin-bottom: 0.8rem; }
 .glamping-N47 .contents-btn-group { margin-top: 4rem; }
 .btn_modify_photo{left: 35rem;}
}

.joininput_email{ color: rgba(var(--main-ton-down-rgb),1); }

/* [E]mypage_container_info */

/* [S]sns */
#sns_box{display: flex; justify-content: center;}
#sns { display: flex; flex-direction: column; align-items: flex-start;}
#sns_title {font-size: 2.3rem; font-weight: 600; margin-bottom: 0.5rem;}
#sns_content {margin-bottom: 2rem;}

.sns_brand{display: flex; justify-content: center;gap: 4rem;}
.sns_brand_one { width: 18rem; height: 18rem; border: 1px solid rgba(var(--main-ton-down-rgb), 0.3); display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 0.6rem;}
.sns_brand_one img { width: 5rem;}
.kakao .kakao_logo{width: 5.5rem; height: 5.5rem; background-color: #FEE500; border-radius: 30px; display: flex; justify-content: center; align-items: center;}
.sns_brand_one .kakao_logo img { width: 4rem;}
.sns_brand_one input[value="연동하기"] { transition: .3s; width: 9rem; height: 3.5rem; color: white; background-color: rgba(var(--main-ton-down-rgb)); border-radius: 10px; border: none;}
.sns_brand_one input[value="연동해제"] { transition: .3s; width: 9rem; height: 3.5rem; background-color: rgba(var(--main-ton-down-rgb),0.1); border-radius: 10px; border: none;}
.sns_brand_one input:hover { background-color: var(--main-ton-up); color: white;}

/* [E]sns */



/* [S]my_keep */

.my_keep_list{max-width: 1280px;display: flex; flex-direction: column; gap: 2rem;}
.keep_box{ width: 83rem; height: 15rem; background-color: rgba(var(--main-ton-down-rgb), 0.1); display: flex; align-items: center; padding: 1rem; gap: 1rem; border-radius: 9px;}
.keep_box_img img{width: 14rem; border-top-left-radius: 9px; border-bottom-left-radius: 9px;}
.keep_box_content{height: 100%;width: 100%;display: flex; gap: 1rem; flex-direction: column; align-items: flex-start;}
.keep_box_content_f { width: 100%; display: flex; justify-content: space-between;}
.btn_keep_del { border: none;  background-color: transparent; margin-right: 0.6rem; font-size: 1.7rem; color: chocolate; font-weight: 600;}
.hashtag,.keep_title, .keep_addr, .keep_line_intro{overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.hashtag { color: var(--main); font-weight: 300;}
.keep_title{font-size: 2rem; font-weight: 500;}
.keep_line_intro {color: var(--main-ton-up);}
@media (max-width: 992px) {
    .keep_box {width: 100%; }
}
/* [E]my_keep */

/* [S]my_reserve */
.my_reserve_list{max-width: 1280px;display: flex; flex-direction: column; gap: 2rem;}
.reserve_box{ width: 83rem; height: 15rem; background-color: rgba(var(--main-ton-down-rgb), 0.1); display: flex; align-items: center; padding: 1rem; gap: 1rem; border-radius: 9px;}
.reserve_box_img img{width: 14rem; border-top-left-radius: 9px; border-bottom-left-radius: 9px;}
.reserve_box_content{height: 100%;width: 100%;display: flex; gap: 1rem; flex-direction: column; align-items: flex-start;}
.reserve_title, .reserve_addr{overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}

.reserve_title{font-size: 2rem; font-weight: 500;}

@media (max-width: 992px) {
    .reserve_box {width: 100%; }
}

/* [E]my_reserve */